@page "/fetchdata"
@inject IWeatherForecastService WeatherForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (WeatherForecasModel.Rows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Grid Model="WeatherForecasModel" />
}

@code {
    private GridModel WeatherForecasModel = new GridModel();

    protected override async Task OnInitializedAsync()
    {
        /* WeatherForecasModel.Columns = new GridColumn [] 
            { 
                new GridColumn { Caption = "Date", Format = "{0:d}" },
                new GridColumn { Caption = "Temp. (C)" },
                new GridColumn { Caption = "Temp. (F)" }, 
                new GridColumn { Caption = "Summary" }
            }; */
        WeatherForecasModel.UseAnnotations = true;
        WeatherForecasModel.Rows = await WeatherForecastService.GetForecastAsync(DateTime.Now);
    }
}
