@page "/fetchdata"
@inject IWeatherForecastService WeatherForecastService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (WeatherForecastModel.Rows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Grid Model="WeatherForecastModel" />
}
@code {
    private GridModel WeatherForecastModel = new GridModel();

    protected override async Task OnInitializedAsync()
    {
        WeatherForecastModel.Columns = new GridColumn [] 
            { 
                new GridColumn { Caption = "Date", Format = "{0:d}" },
                new GridColumn { Caption = "Temp. (C)" },
                new GridColumn { Caption = "Temp. (F)" }, 
                new GridColumn { Caption = "Summary" }
            };
        WeatherForecastModel.Rows = await WeatherForecastService.GetForecastAsync(DateTime.Now);
    }
}
