@typeparam TItem
<EditForm Model="@Item" OnValidSubmit="@(e => OnSave.InvokeAsync(Item))">
    <DataAnnotationsValidator />

    @FormFields

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-warning" @onclick="OnCancel">Cancel</button>

</EditForm>

@code 
{
    [Parameter]public RenderFragment FormFields { get; set; }
    [Parameter]public TItem Item { get; set; }
    [Parameter]public EventCallback OnCancel { get; set; }
    [Parameter]public EventCallback OnSave { get; set; }
}