@inject IJSRuntime JSRuntime;
<div class="my-component">
    This Blazor component is defined in the <strong>LibreriaComponenti</strong> package.

    <button @onclick="@(() => ExampleJsInterop.Prompt(JSRuntime, "Come ti chiami?"))">
        Chiama funzione JavaScript
    </button>
</div>